@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
    <div class="col-sm-11">
            @CurrentPage.GetGridHtml("layout")
    </div>