@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticleItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}   

<h1>@Umbraco.Field("articleTitle")</h1>
    <section>
        <article>
        <p>@Umbraco.Field("articleContent")</p>
        </article>     
    </section>

