@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}   

<h1 class="col-sm-8">@Umbraco.Field("articleTitle")</h1>
    <section>
        <article class="col-sm-8">
        <p >@Umbraco.Field("articleContent")</p>
        </article>     
    </section>

