@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
} 

<h2>@CurrentPage.Name</h2>
@Html.Action("Index", "ContactFormSurface")