@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
} 

<h1 class="col-sm-12">@CurrentPage.Name</h1>
<div class="col-sm-10">
@Html.Action("Index", "ContactFormSurface")
</div>