@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<h1>@CurrentPage.Name</h1>

<p>You do not have access view this project please log in and try again.</p>