@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="col-sm-6">
    @Umbraco.Field("mainContent")
</div>
<div class ="col-sm-6">
    <a href="http://localhost:56056/article-Overview">Click this link to be taken to all articles</a> <br/>
    <a href="http://localhost:56056/projects-Overview">Click this link to be taken to all projects</a>
</div>
    <div class="col-sm-4">
        <ul>@Umbraco.RenderMacro("listNewestProjects")</ul>
    </div>