@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<section>
    <article>
        <h1 class="col-sm-10">@Umbraco.Field("projectTitle")</h1>
        <div class="col-sm-8">
            <p>@Umbraco.Field("projectDescription")</p>
        </div>
    </article>
</section>