@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<section>
    <article>
        <h1>@Umbraco.Field("projectTitle")</h1>
        <p>@Umbraco.Field("projectDescription")</p>
    </article>
</section>